<div class="container">
    <div class="col">
      <div class="booyah-box mx-auto" style="max-width: 800px;">
        <h1>Enter your place Details</h1>
        <%= simple_form_for @place do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <br />
          <%= f.submit 'create', class: 'btn btn-primary' %>
          <% end %>
      </div>
  </div>
</div>